{% extends "base.html" %}

{% block content %}
    {{ form.hidden_tag() }}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
        function addTask() {
            console.log(2)

            var num = document.getElementsByClassName('task-manager').length

            html =
            '<span>\
                <b class="task-counter"></b>\
                <button class="delete-btn btn btn-dark" style="float: right;">&ndash;</button><br>\
            </span><br>\
            <label>Вопрос:</label><br>\
            <textarea name="question" class="form-control" rows="4"></textarea><br>\
            <label>Правильный ответ:</label><br>\
            <input type="text" name="answer" class="form-control"><br>\
            <label>Вложения:</label><br>\
            <input type="file" name="addition"><br>'

            const div = document.createElement("div")
            div.className = "alert alert-dark task-manager"
            div.role = "alert"
            taskStore = document.querySelector("#task-store")
            div.innerHTML += html
            taskStore.appendChild(div)
        }
    </script>
    <script>
        $(document).on('click', '.delete-btn', function(){
          $(this).parent().parent().remove();
        });
    </script>

    <style>
        #task-store {
            counter-reset: css-counter 0;
        }

        .task-counter {
            counter-increment: css-counter 1;
        }

        .task-counter:before {
            content: counter(css-counter) ".";
        }

    </style>

    <br>
    <form action="" method="post" novalidate enctype="multipart/form-data" id="variant-form">
        <div class="alert alert-primary">
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.theme.label }}<br>
                {{ form.theme(class="form-control") }}
            </p>

            <p>
                {{ form.secrecy(class="form-check-input", type="checkbox", id="flexSwitchCheckDefault") }}
                {{ form.secrecy.label(class="form-check-label", for="flexSwitchCheckDefault") }}
            </p>
        </div>
        <br>
        <div id="task-store"></div>
        <p><button type="button" class="btn btn-dark" onclick="addTask()">+</button></p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
