<table class="table table-bordered">
    <thead>
        <tr class="bg-secondary">
            <th scope="col">№</th>
            <th scope="col">Ответ</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            {% if row['is_correct'] %}
                <tr class="bg-success">
                    <td scope="col">{{ row['answer_id'] }}</td>
                    <td scope="col">{{ row['answer'] }}</td>
                </tr>
            {% else %}
                <tr class="bg-danger">
                    <td scope="col">{{ row['answer_id'] }}</td>
                    <td scope="col">{{ row['answer'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
