{% extends "base.html" %}

{% block content %}
<div class="alert alert-info" role="alert">
    Login: {{user.login}}
  </div>
  <div class="alert alert-dark" role="alert">
    Role: {{user.role.capitalize()}}
  </div>
  {% if user.role == "teacher" %}
  <a type="button" href="/variants" class="btn btn-info center-block btn-lg">Мои варианты</a>
  <a type="button" href="/add_variant" class="btn btn-info center-block btn-lg">Добавить вариант</a>
  {% else %}
  <a type="button" class="btn btn-info center-block btn-lg">Мои ответы</a>
  {% endif%}
  <a type="button" href="/logout" class="btn btn-danger center-block btn-lg">Выйти из аккаунта</a>
{% endblock %}
