{% extends "base.html" %}

{% block content %}
    <div class="alert alert-info" role="alert">
        Логин: {{user.login}}
    </div>
    <div class="alert alert-dark" role="alert">
        Роль: {{user.role.capitalize()}}
    </div>
    {% if user.role == "Учитель" %}
        <a type="button" href="/variants" class="btn btn-info center-block btn-lg">Мои задания</a>
        <a type="button" href="/add_variant" class="btn btn-info center-block btn-lg">Добавить задание</a>
    {% else %}
        <a type="button" href="/search_variant" class="btn btn-info center-block btn-lg">Искать задания</a>
    {% endif %}
    <a type="button" class="btn btn-danger center-block btn-lg" onclick="window.modal.showModal();">
        Выйти из аккаунта
    </a>

    <dialog id="modal" style="width: 30%; border-width: 0px; border-radius: 10px;">
        <div>
            <h1>Вы уверены?</h1><br><br>
            <a type="button" href="/logout" class="btn btn-danger btn-lg" style="width: 50%;">Выйти</a>
            <button type="button" onclick="window.modal.close();" class="btn btn-info btn-lg" style="width: 49%;">Закрыть</button>
        </div>
    </dialog>

{% endblock %}
