{% extends "base.html" %}

{% block content %}


<p class="text-center">Привет! Вы попали на сайт, который помогает учителям обучать своих учеников. 
    На сайте есть регистрация как от имени учителя так и от имени ученика. Учитель может создать задание из тестовых вопросов, или вопроса с развернутым ответом, прикрепив к нему фото.
    Ученик, узнав название созданного теста может без проблем его пройти, а учитель увидит результаты выполнения созданного им задания у себя в личном кабинете.
</p>
<div class="d-flex justify-content-center">
    <a href="/" type="button" class="btn btn-success">Понятно!</a>
</div>
{% endblock %}
