{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <br>
        <div class="alert alert-primary">

            <p>
                {{ form.search_type.label }}
                {{ form.search_type(class="form-control") }}
            </p>

            <div>
                {{ form.search_request.label }}
                {{ form.search_request(class="form-control", id="search-request") }}
                {% for error in form.search_request.errors %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% if not variants %}
    <dialog id="modal" style="width: 30%; border-width: 0px; border-radius: 10px;" class="bg-light">
        <h1 class="text-center">Здесь ничего нет</h1><br>
        <button type="button" onclick="window.modal.close();" class="btn btn-info btn-lg" style="width: 99%;">
            Закрыть
        </button>
    </dialog>
{% else %}
    {% for variant in variants %}
        <div class="alert alert-info">
            <h2>{{ variant.title }}</h2><br>

            <div class="alert alert-info">
                <h5>
                    <b>Тема:</b> {{ variant.theme }}
                </h5>
            </div>

            <div class="alert alert-info">
                <h5>
                    <b>Идентификатор:</b> {{ variant.id }}
                </h5>
            </div>
            <a class="btn btn-primary" role="button" href="/solve_variant/{{ variant.id }}">Перейти</a>
        </div>
    {% endfor %}
    {% endif %}

        <script>
            var searchReq = document.getElementById("search-request");
            if (searchReq.value != '') {
                window.modal.show();
            }
        </script>
{% endblock %}
