{% extends "base.html" %}

{% block content %}
    <style>
        #task-store {
            counter-reset: css-counter 0;
        }

        .task-counter {
            counter-increment: css-counter 1;
        }

        .task-counter:before {
            content: counter(css-counter) ".";
        }
    </style>

    <br>
    <form action="" method="post" novalidate>
        <div id="task-store">
        {% for task in tasks.values() %}
            <div class="alert alert-dark task-manager">
                <b class="task-counter"></b><br>

                {% if task['type'][0] == 'text' %}
                    <input type="hidden" name="type" value="text">

                    {% if task['question'][0] %}
                        <h2>{{ task['question'][0] }}</h2><br>
                    {% else %}
                        <br>
                    {% endif %}

                    {% if task['addition'][0] %}
                        <p>
                            <a href="{{ '../' + task['addition'][0] }}" target="_blank">
                                <img src="{{ '../' + task['addition'][0] }}" width="400" height="400" onclick="enlargeImage()">
                            </a>
                        </p>
                        <br>
                    {% endif %}

                    <div>Ответ:</div>
                    <input type="text" name="answer" class="form-control">
                {% elif task['type'][0] == 'test' %}
                    <input type="hidden" name="type" value="test">

                    {% if task['question'][0] %}
                        <h2>{{ task['question'][0] }}</h2>
                    {% else %}
                        <br>
                    {% endif %}

                    {% for answer in task['answer'] %}
                        <br>
                        <div class="row">
                            <div class="col-sm-10">
                                <h4>{{ answer }}</h4>
                            </div>
                            <div class="col form-check form-switch">
                                <input type="checkbox" class="form-check-input"
                                 style="transform: scale(1.5); position: relative; bottom: -15%; left: 20%;" name="isTrue">
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <p><input type="submit" class="btn btn-primary"></p>
    </form>
{% endblock %}
